:root {
    --clr-bg: #070724;
    --clr-mercury: #419EBB;
    --clr-venus: #EDA249;
    --clr-earth: #6D2ED5;
    --clr-mars: #D14C32;
    --clr-jupiter: #D83A34;
    --clr-saturn: #24211f;
    --clr-uranus: #1EC1A2;
    --clr-neptune: #2D68F0;
    --clr-white-02: #ffffff33;


    --ff-spartan: 'Spartan', sans-serif;
    --ff-antonio: 'Antonio', sans-serif;

    --fs-xxs: 9rem;
    --fs-xs: 11rem;
    --fs-sm: 12rem;
    --fs-base: 14rem;
    --fs-md: 28rem;
    --fs-lg: 40rem;
    --fs-xlg: 80rem;

    --ls-xs: -1.5rem;
    --ls-sm: 1rem;
    --ls-md: 2rem;
    --ls-lg: 2.6rem;

    --line-height-xs: 10rem;
    --line-height-sm: 25rem;
    --line-height-lg: 52rem;
    --line-height-xlg: 103rem;

    --fw-antonio-medium: 500;
    --fw-spartan-regular: 400;
    --fw-spartan-bold: 700;
}